<!DOCTYPE html>
<html ng-app="WeatherApp">
<head>
    <title>Weather App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
</head>
<body>
    <div ng-controller="WeatherController">
        <h1>Weather App</h1>    
        
        <input type="text" ng-model="city" placeholder="Enter city">
        <button ng-click="searchWeather()">Search</button>
        
        <div ng-show="weatherData">
            {{ weatherData}}
            <h2>{{ weatherData.name }} Weather</h2>
            <p>Temperature: {{ weatherData.main.temp }}°C</p>
            <p>Weather: {{ weatherData.weather[0].description }}</p>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>
